*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
html,body{
    overflow-x: hidden;
}
:root{
    --darkviolet:hsl(257, 27%, 26%);
    --cyan:hsl(180, 66%, 49%);
    --Gray: hsl(0, 0%, 75%);
    --GrayshViolet: hsl(257, 7%, 63%);
    --VeryDarkBlue: hsl(255, 11%, 22%);
    --VeryDarkViolet: hsl(260, 8%, 14%);
}
header{
    display: flex;
    justify-content: space-around;
     padding-top: 30px;
}
.image-loading{
    width: 50px;
     display: flex;
     margin: 0 auto;
     display: none;
 }
.navbar-1 ul{
    display: flex;
}
.navbar-1 ul li{
    margin: 0 16px;
}
.navbar-1 ul li a{
    color: var(--Gray);
    transition: 1s ease;

}
.navbar-1 ul li a:hover{
    color: black;
}
.navbar-2 ul li a:hover{
    color: black;
}
.navbar-2 ul li a{
    transition: 1s ease;
}
.navbar-2 ul{
    display: flex;
}
.navbar-2 ul li{
    margin: 0 20px;
}
.navbar-2 ul li a{
    color: var(--Gray);
}
.login{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px 30px;
    outline: none;
    border: none;
    background: var(--cyan);
    color: white;
    cursor: pointer;
    transition: 1s ease;
}
.login:hover{
    opacity: 0.4;
}
.navbar-2 ul .top{
    margin-top: 5px;
}
.menu-mob{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.navbar-mobile{
    background: var(--darkviolet);
    width: 400px;
    height: 350px;
    border-radius: 30px 30px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
     display: none;
    position: fixed; 
    top: 78px;
    z-index: 1;     
      
}
.navbar-mobile ul{
    margin-top: 70px;
}
  
.top2::before{
    content: "";
    display: block;
    width: 200px;
    height: 1.5px;
    margin: 0 auto;
    background: white;
    margin-bottom: 10px;
    transition: 1s ease;
}
.top2:hover::before{
    width: 300px;
}

.login2{
    margin-top: 15px;
}
.navbar-mobile ul li{
    margin-top: 20px;
}
.navbar-mobile ul li a{
    color: white;
}
.meio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.title{
    margin-right: 35px;
}
.title h1{
    font-size: 3.5em;
    max-width: 450px;
}
.title p{
    max-width: 500px;
    color: var(--Gray);
}
.started{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px 30px;
    outline: none;
    border: none;
    background: var(--cyan);
    color: white;
    margin-top: 20px;
    transition: 1s ease;
    cursor: pointer;
}
.started:hover{
    opacity: 0.4;
}
.fetch{
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
     margin-top: 90px;
      position: relative;
    top: 100px;
}
 
.purple{
    width: 1100px;
    height: 150px;
    border-radius: 15px 15px;
    background:var(--VeryDarkBlue) url("./images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-position:left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.send{
    width: 900px;
    border-radius: 15px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    text-align: center;
    outline: none;
}
.enviar{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px 15px;
    outline: none;
    border: none;
    background: var(--cyan);
    color: white;
    transition: 1s ease;
    cursor: pointer;
}
.enviar:hover{
    opacity: 0.4;
}
.criado{
    margin-top: 10px;
    text-align: center;
}
.st{
    display: flex;
    justify-content: center;
    text-align: center;
    background:  hsl(0, 0%, 94%);
    padding-top: 40px;
}
.cards{
    background:  hsl(0, 0%, 94%);
        padding-top: 40px;
       
}
.advanced p{
    max-width: 450px;
    text-align: center;
    color: var(--Gray);
}
.boost{
    max-width: 300px;
    text-align: center;
    margin-top: 10px;
    color: var(--Gray);
    margin-left: 20px;
 }
.cards{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: -70px;
     flex-wrap: wrap;
 }
.card1{
    width: 350px;
    background: white;
    height: 250px;
    
}
.brand{
    text-align: center;
}
.icon{
    border-radius: 30px 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 25px;
    background: var(--VeryDarkBlue);
}
.card2{
    width: 350px;
    background: white;
    height: 250px;
    margin-top: 40px;
    margin-left: 50px;
}
.card3{
    width: 350px;
    background: white;
    height: 250px;
    margin-left: 50px; 
    margin-top: 120px;
     margin-bottom: 30px;
}
.advanced{
    padding-top: 60px;
}
.p1{
   opacity: 0;
   transition: 1s ease;

   margin-bottom: 8px;
}
.p2{
    display: none;
     
 
    margin-bottom: 8px;
 }
 .p3{
     display: none;
 }
.error p{
    color: red;
   
}
.button-2{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px 15px;
    outline: none;
    border: none;
    background: var(--cyan);
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s ease;
}
.button-2:hover{
    opacity: 0.4;
}
.boost-today{
    background: url("./images/bg-shorten-desktop.svg") var(--darkviolet);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
     text-align: center;
    height: 150px;
    align-items: center;
    padding: 40px;
      
 }
   
.texto-2 h1{
    color: white;
    font-weight: 300;
}
footer{
    background: var(--VeryDarkViolet);
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icons-social ul{
    display: flex;
}
 .h1{
     color: white;
     font-weight: 300;
 }
 .navbar1-footer ul li a, .navbar2-footer ul li a, .navbar3-footer ul li a{
     color: #ffffff9e;
     transition: 1s ease;
 }
 .navbar1-footer ul li a:hover{
     color: var(--cyan);
 }
 .navbar2-footer ul li a:hover{
    color: var(--cyan);
}
.navbar3-footer ul li a:hover{
    color: var(--cyan);
}
 .navbar1-footer ul li{
     margin-top: 15px;
 }
 .navbar2-footer ul li{
     margin-top: 15px;
 }
 .navbar2-footer ul{
     margin-top: -40px;
 }
 .navbar1-footer ul{
    margin-top: -40px;
}
 .navbar3-footer ul li{
     margin-top: 15px;
 }
 .icons-social li{
     margin: 0 16px;
 }
 .svg{
    fill: white;
 }
 .copyright{
     text-align: center;
     background: var(--VeryDarkViolet);
 }
 .copyright p{
     color: var(--Gray);
 }
 span{
     color: blue;
     font-weight: 300;
 }
.creates{
    width: 1100px;
    height: 55px;
    background: white;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inserindo2{
    font-size: 13px;
}
 .insert2{
     display: flex;
     align-items: center;
 }
 .copy{
     margin-left: 10px;
     padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px 15px;
    outline: none;
    border: none;
    background: var(--cyan);
    color: white;
    
  }
 
 .inserindo{
     color: var(--cyan);
     border: none;
     outline: none;
    background: white;
 }
 
 .creates{
    transition: 1s ease;

 }
 .copy{
     margin-left: 20px;
     cursor: pointer;
 }
 
 .none{
     opacity: 0;
     transition: 1s ease;
 }
 .teste{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px 5px;
    outline: none;
    border: none;
    background: var(--darkviolet);
    color: white;
    display: none;
 }
 .menu-mobile{
     display: none;
 }
.close{
    display: none;
}
.copy{
    cursor: pointer;

}
.copied{
    cursor: pointer;

}

 @media(max-width:1000px){
     footer{
         flex-direction: column;
         height: 800px;
         
    
     }
     header{
         align-items: center;
         position: fixed;
         width: 100%;
         background: white;
         z-index: 1;
     }
     .cards{
         margin-top: 0;
     }
     .features{
         display: none;
     }
     .pricing{
         display: none;
     }
     .resources{
         display: none;
     }
     .navbar-2{
         display: none;
     }
     .menu-mobile{
        display: block;
    }
    .meio{
        flex-direction: column-reverse;
        text-align: center;
    }
    .meio p{
        margin-left: 20px;
    }
    .started{
        margin-left: 20px;
    }
    .title{
        margin-top: 20px;
        text-align: center;
    }
   .card2{
       margin-left: 0;
    }
   .card3{
       margin-left: 0;
       margin-top: 60px;
   }
   .navbar1-footer ul {
      margin-bottom: 50px;
      text-align: center;
   }
   .navbar2-footer ul {
     text-align: center;
 }
 .navbar3-footer ul {
     text-align: center;
 }
   .logo{
    position: relative;
    left: 23%;
    top: 70px;
   }
   .copyright{
      padding-bottom: 10px;
   }
   .copyright p{
       font-size: 10px;
   }
   .boost-today{
     background-size: 285%;
       background-position: 0px 40px;
   }
  .foto2 img{
      width: 500px;
      margin-top: 60px;
  }
  .title h1{
      font-size: 38px;
      margin-left: 10px;
  }
  .title p{
      margin-top: 20px;
      font-size: 18px;
   }
  .started{
      margin-top: 30px;
  }
  
   .purple{
    width: 400px;
   }
   .send{
       width: 350px;
       text-align: center;
       display: flex;
       justify-content: center;
   }
   .enviar{
       display: flex;
       margin: 0 auto;
       margin-top: 20px;
   }
   .creates{
    width: 350px;
 }
 .inserindo2{
      display: none;
 }
 }

 @media(max-width:700px){
    .purple{
        width: 320px;
       }
       .send{
           width: 300px;
           text-align: center;
           display: flex;
           justify-content: center;
       }
       .enviar{
           display: flex;
           margin: 0 auto;
           margin-top: 20px;
       }
       .creates{
        width: 320px;
     }
     .inserindo{
         max-width: 200px;
     }
     .copy{
        padding-left: 15px;
        padding-right: 15px;
      }
     

    }

    @media(min-width:1000px){
        .menu-mob{
            display: none;
        }
    }